* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0 auto;
  margin-top: 10vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.label {
    text-align: center;
    width: 300px;
    max-width: 250px;
    padding: 20px;
    font-size: 25px;
    margin: 0 auto;
}

.calcContent {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    vertical-align: middle;
}

.Calculator2 {
    max-width: 100%;
    background-color: #efefef;
    border-radius: 10px;
    overflow: hidden;
    border: solid #aaa 2px;
    margin: 0 auto;
}

td {
  border-right: solid #aaa 1px;
  border-bottom: solid #aaa 1px;
}

#display {
  background-color: #8a8686;
  height: 90px;
  width: 100%;
  max-width: 7ch;
  text-align: right;
  padding-right: 5px;
  font-size: 45px;
  font-weight: 100;
  vertical-align: bottom;
  color: #ffffff;
  overflow-x: hidden;
}

.top-function {
  background-color: #c9c5c5;
  font-size: 18px;
  height: 50px;
  color: #000000;
  font-weight: 300;
  outline: none;
}

.number-button,
#zero,
#dot,
#del {
  background-color: #dddada;
  font-size: 24px;
  height: 50px;
  color: #000000;
  width: 60px;
  font-weight: 200;
}

.number-button > input {
  background-color: #dddada;
  font-size: 24px;
  font-weight: 300;
  height: 50px;
  width: 100%;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.top-function > input {
  background-color:#c9c5c5;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  width: 100%;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.top-function > input:hover,
.btnDel:hover {
  color: #ffffff;
  background-color: #aaa;
}

.btnZero,
.btnDot,
.btnDel {
  background-color: #dddada;
  font-size: 24px;
  font-weight: 300;
  height: 50px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 25px;
  outline-style: none;
}

.btnDot,
.btnDel {
  padding: 5px;
  text-align: center;
}

.ops,
.button {
  background-color: #f89f56;
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
  width: 60px;
  cursor: pointer;
  outline-style: none;
}

.button {
  border-style: hidden;
}

.button:hover {
  background-color: #ec6d04;
  width: 100%;
  height: 50px;
}

tr:last-child > td {
  border-bottom: none;
}
